body {
background-color: lightseagreen;
font-family: 'Roboto', sans-serif;
width: 90%;
text-align: center;

}

/*header*/

#header {
    background:rgb(8, 28, 71);
    text-align: center;
    padding: 1%;
    color: white;
    width: 100%;
    margin: auto;
    flex-direction: column;
    border: 2px solid brown;
}

/* repeatChars-container */
#repeatChars-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    border-radius: 2%;
    color: #ffffff;
    width: 100%;
    margin: auto;
    
}
#repeatChars-input {
    width: 100%;
    text-align: center;
}
#repeatChars-button {
  background-color: #4CAF50; /* Green */
  border: red 2px solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

#repeatChars-output{
    background: black;
    width: 200px;
    text-align: center;
}
/* repeatChars-input */
#repeatChars-input {
    width: 200px;
    border: navy 3px solid;
    text-align: center;
    display: flex;
}

#repeatChars-button {
  background-color: #4CAF50; /* Green */
  border: red 2px solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* constantize-container */

#constantize-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    border-radius: 2%;
    color: #ffffff;
    width: 50%;
    margin: auto;
    border: 2px solid brown;
}

/* repeatChars-container */

#repeatChars-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    color: #ffffff;
    width: 50%;
    margin: auto;
    border: 2px solid brown;
}

#constantize-input {
    width: 200px;
    align-self: center;
    border: 2px solid brown;
    text-align: center;
}
#constantize-button {
  background-color: #4CAF50; /* Green */
  border: red 2px solid;
  color: black;
  padding: 15px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  width: 200px;
}

#caesarize-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    color: #ffffff;
    width: 50%;
    margin: auto;
    border: 2px solid brown;
}
#caesarize-string-input{
    width: 20px;
    border: 2px solid brown;
    text-align: center;
    margin: auto;
}

#caesarize-string-input{
    float: left;
    width: 400px;
    text-align: center;
    margin-right: 10px;
    border: 2px solid brown;
    height: 150px;
    margin: auto;
    
    

}

#caesarize-number-input{
    width: 200px;
    text-align: center;
    border: 2px solid brown;
    margin: auto;

}

#constantize-output{
    background: black;
    width: 00px;
    text-align: center;
    margin: auto;
    color: wheat;
}

#caesarize-button{
  background-color: #4CAF50; /* Green */
  border: red 2px solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#caesarize-output{
    background: black;
    width: 200px;
    text-align: center;
}

#leftpad-container{
    align-content: center;
    width: 300px;
    margin: auto;
}

#leftpad-str-input{
    width: 300px;
    text-align: center;
    
}

#leftpad-len-input{
    width: 300px;
    text-align: center;
    
}
#leftpad-pad-input{
    width: 300px;
    text-align: center;
    
}

#leftpad-button{
  background-color: #4CAF50; /* Green */
  border: red 2px solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#leftpad-output{
    background: black;
    width: 200px;
    text-align: center;
}

#repeat-paragraph{
     background: rgb(219, 243, 5);
     color: black;
}
#constantize-paragraph{
    background: rgb(219, 243, 5);
    margin: auto;
     color: black;
}
#caesarize-paragraph{
    background: rgb(219, 243, 5);
     color: black;
}
#leftpad-container{
    width: 300px;
    text-align: center;
}

#leftpad-paragraph{
    background: rgb(219, 243, 5);
     color: black;
}
#footer{
    text-align: center;
    background: rgb(8, 28, 71);
    color: wheat;
    text-align: center;
    padding: 2%;
    width: 100%;
    margin: 10px auto;
    border: 2px solid brown;
}