body {
    background-color: rgb(0, 133, 148);
    font-family: 'Roboto', sans-serif;
    width: 90%;

}

/*header*/

#header {
    background:rgb(8, 28, 71);
    text-align: center;
    padding: 2%;
    color: white;
    width: 100%;
    margin: auto;
    flex-direction: column;
}

/* repeatChars-container */
#repeatChars-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 5%;
    border-radius: 2%;
    color: #ffffff;
    width: 100%;
    margin: 10px auto;
    
}
#repeatChars-input {
    width: 100%;
    text-align: center;
}
#repeatChars-button {
    width: 100%;
    border-bottom: rgb(18, 165, 18);
    text-align: center;
    border: navy 3px solid;

}

#repeatChars-output{
    width: 200px;
    text-align: center;
}
/* repeatChars-input */
#repeatChars-input {
    width: 200px;
    border: navy 3px solid;
    text-align: center;
    display: flex;
}

#repeatChars-button {
    width: 200px;
    border: navy 3px solid;
    text-align: center;
}
/* constantize-container */

#constantize-container {
    background-color:lightseagreen;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    padding: 2%;
    border-radius: 2%;
    color: #ffffff;
    width: 50%;
    margin: 10px auto;
}

/* repeatChars-container */

#repeatChars-container {
    background-color:lightseagreen;
    display: flex;
    flex-direction: column;
    text-align;: center;
    margin-top: 10px;
    padding: 2%;
    border-radius: 2%;
    color: #ffffff;
    width: 50%;
    margin: 10px auto;
}

#constantize-input {
    width: 200px;
    align-self: center;
    border: navy 2px solid;
    text-align: center;
}
#constantize-button {
    width: 200px;
    border: navy 2px solid;
    align-self: center;
}

#caesarize-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 0%;
    border-radius: 2%;
    color: #ffffff;
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
#caesarize-string-input{
    width: 200px;
    align-self: center;
    border: navy 2px solid;
    text-align: center;
}

#caesarize-string-input{
    width: 200px;
   text-align: center;
    border: navy 2px solid;

}

#caesarize-number-input{
    width: 200px;
    text-align: center;
    border: navy 2px solid;

}

#caesarize-button{
    width: 200px;
    align-self: center;
    border: navy 2px solid;
    text-align: center;
}

#caesarize-output{
    width: 200px;
    text-align: center;
}

#leftpad-container{
    align-content: center;
    width: 100%;
    margin: auto;
}

#leftpad-str-input{
    width: 200px;
    text-align: center;
    border: navy 2px solid;
}

#leftpad-len-input{
    width: 200px;
    text-align: center;
}

#leftpad-button{
    width: 200px;
    align-self: center;
    border: navy 2px solid;
}
#footer{
    text-align: center;
    background: rgb(8, 28, 71);
    color: wheat;
    text-align: center;
    padding: 2%;
    width: 100%;
    margin: 10px auto;
}