body{
    background: rgb(33, 78, 78);
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    width: 90%;
}

#header{
    background: darkgrey;
    margin: auto;
    width: 50%;
    padding: 0.1%;
    border: 1.2px rgb(0, 195, 255) solid;
    font-size: 10px;
}

#caesaring-container{ 
    margin: auto;
    width: 50%;
    text-align: center;
}

#encrypted-text-area{
    margin: auto;
    border: 1px rgb(0, 195, 255) solid;
    text-align: center;
}

#encrypt-button{
  display: inline-block;
  border-radius: 4px;
  background-color: #442e27;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  
}

#decrypt-button{
  display: inline-block;
  border-radius: 4px;
  background-color: #442e27;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#scramble-input{
    margin: auto;
    border: 1px rgb(0, 195, 255) solid;
    text-align: center;
}
#scramble-button{
  display: inline-block;
  border-radius: 4px;
  background-color: #442e27;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#footer{
    background: darkgrey;
    margin: auto;
    width:50%;
    padding: 0.1%;
    border: 1px rgb(0, 195, 255) solid;
    font-size: 10px;
}

#encrypt-tag{
  background: rgb(99, 95, 95);
}

#decrypt-tag{
  background: rgb(99, 95, 95);
}
}
#footer-logo{
  margin: auto;
  width: 1px;
  padding: 0.1%;
}